{% extends 'base.html' %}

{% block title %}
Заказ авто
{% endblock %}

{% block body %}
<h1>Заказ авто</h1>

<form method="post" class="form-control">
    <input type ="text" name="title" placeholder="Введите ФИО" class="form-control"><br>
    <input type ="text" name="text" placeholder="Введите номер телефона или адрес электронной почты" class="form-control"><br>
    <input type ="text" name="auto" placeholder="Введите желаемый авто и (кол-во дней)" class="form-control"><br>
    <button class="btn btn-success" type="submit">Добавить</button>
    <div class="predupr">
         <h4><<Отвечаем на заявки в течении 2 часов>></h4>
    </div>

</form>

{% endblock %}
