{% extends 'base.html' %}

{% block title %}
Аренда автомобиля
{% endblock %}
{% block body %}

<body>
<main>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://img.goodfon.ru/wallpaper/original/5/9b/bmw-m5-f90-black-face.jpg" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">BMW M5 F90</h2>
                    <p>Покорите дороги эстетичностью и известностью данного авто.</p>
                    <p><a class="btn btn-secondary" href="client">Заказать »</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://i3.wp.com/autotuni.ru/uploads/posts/2014-08/1406883029_1038036157923825598.jpg?ssl=1" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Mercedes Benz C63 AMG</h2>
                    <p>Прокатитесь на современном люксовом автомобиле.</p>
                    <p><a class="btn btn-secondary" href="client">Заказать »</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://avatars.mds.yandex.net/i?id=014d789f98636374b305a8e9316248a35ae8245a-9099210-images-thumbs&n=13" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Ford Mustang GT500</h2>
                    <p>Воплотите свои мечты прокатившись на мощном автомобиле.</p>
                    <p><a class="btn btn-secondary" href="client">Заказать »</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Другие авто<h2>
</div>

<!--Card menu-->

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://avatars.mds.yandex.net/i?id=b24aa005a42a7cc69f58c2ed00a28c9b2e154c0d-4988309-images-thumbs&n=13" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>Chevrolet Corvette Z06.</h3>
                                    <p>Аренда автомобиля:
                                    <p>- На 1 день: от 13000 руб.
                                    <p>- На 2 дня: от 27000 руб. (13500 руб. в день)
                                    <p>- На 3-5 дней: от 30000 руб. (9000 руб. в день)
                </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://avatars.mds.yandex.net/i?id=87270cfb5a9402a50850448b6e13ce620c526622-5262840-images-thumbs&n=13" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>Ford Mustang Shelby GT500.</h3>
                    <p>Аренда автомобиля:
                    <p>- На 1 день: от 15000 руб.
                    <p>- На 2 дня: от 27000 руб. (13500 руб. в день)
                    <p>- На 3-5 дней: от 45000 руб. (9000 руб. в день)
                    <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
                </p></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://avatars.mds.yandex.net/i?id=db45c50130fc1d6f208ddd1f1405bc87a64b63aa-5514293-images-thumbs&n=13" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>Mercedes-Benz AMG 63C.</h3>
                    <p>Аренда автомобиля:
                    <p>- На 1 день: от 7000 руб.
                    <p>- На 2 дня: от 14000 руб. (7000 руб. в день)
                    <p>- На 3-5 дней: от 20000 руб. (6000 руб. в день)
                    <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
                </p></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://avatars.mds.yandex.net/i?id=97bf83a9803615693a55fe30f9c6bc03b70d716d-9050759-images-thumbs&n=13" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>Aston Martin DB12.</h3>
                    <p>Аренда автомобиля:
                    <p>- На 1 день: от 8000 руб.
                    <p>- На 2 дня: от 17000 руб. (8500 руб. в день)
                    <p>- На 3-5 дней: от 22000 руб. (7500 руб. в день)
                    <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
                </p></p>
                </div>
            </div>
        </div>

       <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=a29ed3692f13980dd95e04478ca386d7919b66b8-5478714-images-thumbs&n=13" class="card-img-top" alt="...">
               <div class="card-body">
                   <p class="card-text"><h3>Chevrolet Camaro SS 1LE.</h3>
                   <p>Аренда автомобиля:
                   <p>- На 1 день: от 15000 руб.
                   <p>- На 2 дня: от 20000 руб. (10000 руб. в день)
                   <p>- На 3-5 дней: от 45000 руб. (9000 руб. в день)
                   <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
               </p></p>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=0f0a3e55ccd6c14a6884b58268ec2301f2032bc8-5369423-images-thumbs&n=13" class="card-img-top" alt="...">
               <div class="card-body">
                   <p class="card-text"><h3>Lexus LC500.</h3>
                   <p>Аренда автомобиля:
                   <p>- На 1 день: от 13000 руб.
                   <p>- На 2 дня: от 20000 руб. (11000 руб. в день)
                   <p>- На 3-5 дней: от 24000 руб. (8000 руб. в день)
                   <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
               </p></p>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=8adb4557c9b429850bbbc7fa9de1d2c66f3ff7f1-8206955-images-thumbs&n=13" class="card-img-top" alt="...">
               <div class="card-body">
                   <p class="card-text"><h3>Lamborghini Aventador.</h3>
                   <p>Аренда автомобиля:
                   <p>- На 1 день: от 20000 руб.
                   <p>- На 2 дня: от 30000 руб. (15000 руб. в день)
                   <p>- На 3-5 дней: от 36000 руб. (12000 руб. в день)
                   <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
               </p></p>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=eaf1ce448e039b07726cfdc38975074a92efe5adbf978132-4507718-images-thumbs&n=13" class="card-img-top" alt="...">
               <div class="card-body">
                   <p class="card-text"><h3>Lotus Evija Fittipaldi Edition.</h3>
                   <p>Аренда автомобиля:
                   <p>- На 1 день: от 17000 руб.
                   <p>- На 2 дня: от 25000 руб. (12500 руб. в день)
                   <p>- На 3-5 дней: от 30000 руб. (10000 руб. в день)
                   <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
               </p></p>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=3b18800454fad352f6158ff332a62e80e8a6b791473a634e-12618389-images-thumbs&n=13" class="card-img-top" alt="...">
               <div class="card-body">
                   <p class="card-text"><h3>Lexus LX500.</h3>
                   <p>Аренда автомобиля:
                   <p>- На 1 день: от 9000 руб.
                   <p>- На 2 дня: от 15000 руб. (8000 руб. в день)
                   <p>- На 3-5 дней: от 18000 руб. (6000 руб. в день)
                   <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
               </p></p>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=2b73607788b042af7fc63f59548745444fe9bb32-4565676-images-thumbs&n=13" class="card-img-top" alt="...">
               <div class="card-body">
                   <p class="card-text"><h3>Toyota Land Cruiser 300.</h3>
                   <p>Аренда автомобиля:
                   <p>- На 1 день: от 5000 руб.
                   <p>- На 2 дня: от 8000 руб. (4000 руб. в день)
                   <p>- На 3-5 дней: от 9000 руб. (3000 руб. в день)
                   <p><a class="btn btn-secondary" href="client">Аренда »</a></p>
               </p></p>
               </div>
           </div>
       </div>

</main>
</body>

{% endblock %}