{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}

<section id="about" class="py-5">
    <div class="container">
      <div class="text-center">
        <div class="col">
           <div class="card shadow-sm">
               <img src="https://avatars.mds.yandex.net/i?id=dae685652cf24d3c1b50eaaef53e4f12_l-7003725-images-thumbs&n=13" class="card-img-top">
               <div class="card-body">
                  <div>
                  <h3>BRO-CAR<h3>
                  </div>
               <p class="card-text">
               <p>Мы — компания по аренде автомобилей, предлагающая широкий выбор автомобилей для любых нужд. Наша цель — предоставить нашим клиентам качественные услуги и удобство при аренде автомобиля.</p>
               <p>С момента нашего основания мы стремимся сделать процесс аренды простым и доступным. Мы понимаем, что каждый клиент уникален, поэтому предлагают гибкие условия аренды, чтобы вы могли выбрать автомобиль, который идеально соответствует вашим требованиям.</p>
               <p>В нашем автопарке вы найдете автомобили премимум классов. Мы тщательно проверяем все автомобили, чтобы гарантировать безопасность и комфорт наших клиентов.</p>
               <p>Наша команда профессионалов всегда готова помочь вам с выбором автомобиля, а также ответить на любые вопросы. Мы ценим доверие наших клиентов и стараемся оправдать его на каждом этапе сотрудничества.</p>
               <p>Выбирая нас, вы получаете не только автомобиль, но и надежного партнера в путешествии. Присоединяйтесь к числу наших довольных клиентов и откройте для себя удивительные возможности путешествий с нами!</p>
               </div>
           </div>
        </div>
      </div>
    </div>
</section>


{% endblock %}